:root {
    --background-color: #1e1e1e;
    --surface-color: #1e1e1e;
    --accent-color: #6FA89C;
    --accent-hover: #5F978B;
    --text-color: #3F5F5A;
    --green-1: #A3B186;
    --green-2: #5B754A;
    --green-3: #4E9B31;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Cascadia Code", sans-serif;
}

.game-info {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 10px;
}

.players-info {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.menu__link {
    color: var(--text-color);
    text-decoration: none;
}

.menu__link-ingame:visited,
.menu__link-ingame:active, a {
    color: var(--text-color);
}

.level-title__heading {
    margin: 10px;
}

.map-display {
    width: 420px;
    height: 420px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
}

#game {
    position: absolute;
    transition: transform 0.25s ease-in-out;
}

.event-box {
    width: 600px;
    height: 600px;
    border: whitesmoke 1px solid;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.event-portrait__image {
    width: 100px;
    height: 100px;
}

.hidden {
    display: none;
}

.adventure-log {
    border-radius: 5px;
    width: 1024px;
    height: 20vh;
    overflow-y: scroll;
    font-size: 12px;
}

.adventure-log__divider {
    display: flex;
    justify-content: center;
}

.adventure-log__new-event {
    color: cornflowerblue;
}

.adventure-log__new-combat {
    color: rosybrown;
}

.log-entry {
    color: chocolate;
}

.dialogue-color {
    color: honeydew;
}

.dialogue-button {
    font-size: 12px;
    color: honeydew;
    background: #3F5F5A;
    border: 1px solid black;
    border-radius: 3px;
    margin: 5px;
    padding: 3px;
}

#clearStorage {
    width: 10px;
    height: 10px;
}

.tile-grid {
    display: flex;
    flex-direction: column;
}

.tile-row {
    display: flex;
}

.tile {
    width: 20px;
    height: 20px;
    color: black;
    font-size: 16px;
    text-align: center;
    box-sizing: border-box;
}

.wall {
    background-color: #3A3D35;
}

.wooden-wall {
    background-color: saddlebrown;
}

.floor {
    background-color: #D9E6DA;
}

.boulder {
    background-color: grey;
}

.cobble {
    background-color: sandybrown;
}

.tree {
    background-color: #5B8C5A;
}

.short-tree {
    background-color: #5B754A;
}

.pine-tree {
    background-color: darkolivegreen;
}

.mountain {
    background-color: slategrey;
}

.water {
    background-color: cadetblue;
}

.npc {
    background-color: #7BB0A2;
}

.enemy {
    background-color: #A94E4E;
}

.item {
    background-color: #D6B75D;
}

.door {
    background-color: #A3B186;
}

.altar {
    background-color: white;
}

.player {
    background-color: #4E9B31;
}


