:root {
    --background-color: #1e1e1e;
    --surface-color: #2d2d2d;
    --accent-color: #6FA89C;
    --accent-hover: #5F978B;
    --text-color: #D9E6DA;
    --green-1: #A3B186;
    --green-2: #5B754A;
    --green-3: #4E9B31;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Cascadia Code", sans-serif;
    background: var(--background-color);
    color: var(--text-color);
}

.container-flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}