/* cascadia-code-200 - latin */
@font-face {
    font-display: swap; 
    font-family: 'Cascadia Code';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/cascadia-code-v5-latin-200.woff2') format('woff2'); 
}
/* cascadia-code-200italic - latin */
@font-face {
    font-display: swap; 
    font-family: 'Cascadia Code';
    font-style: italic;
    font-weight: 200;
    src: url('../fonts/cascadia-code-v5-latin-200italic.woff2') format('woff2'); 
}
/* cascadia-code-300 - latin */
@font-face {
    font-display: swap; 
    font-family: 'Cascadia Code';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/cascadia-code-v5-latin-300.woff2') format('woff2'); 
}
/* cascadia-code-300italic - latin */
@font-face {
    font-display: swap; 
    font-family: 'Cascadia Code';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/cascadia-code-v5-latin-300italic.woff2') format('woff2'); 
}
/* cascadia-code-regular - latin */
@font-face {
    font-display: swap; 
    font-family: 'Cascadia Code';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/cascadia-code-v5-latin-regular.woff2') format('woff2'); 
}
/* cascadia-code-italic - latin */
@font-face {
    font-display: swap; 
    font-family: 'Cascadia Code';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/cascadia-code-v5-latin-italic.woff2') format('woff2'); 
}
/* cascadia-code-500 - latin */
@font-face {
    font-display: swap; 
    font-family: 'Cascadia Code';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/cascadia-code-v5-latin-500.woff2') format('woff2'); 
}
/* cascadia-code-500italic - latin */
@font-face {
    font-display: swap; 
    font-family: 'Cascadia Code';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/cascadia-code-v5-latin-500italic.woff2') format('woff2'); 
}
/* cascadia-code-600 - latin */
@font-face {
    font-display: swap; 
    font-family: 'Cascadia Code';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/cascadia-code-v5-latin-600.woff2') format('woff2'); 
}
/* cascadia-code-600italic - latin */
@font-face {
    font-display: swap; 
    font-family: 'Cascadia Code';
    font-style: italic;
    font-weight: 600;
    src: url('../fonts/cascadia-code-v5-latin-600italic.woff2') format('woff2'); 
}
/* cascadia-code-700 - latin */
@font-face {
    font-display: swap; 
    font-family: 'Cascadia Code';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/cascadia-code-v5-latin-700.woff2') format('woff2'); 
}
/* cascadia-code-700italic - latin */
@font-face {
    font-display: swap; 
    font-family: 'Cascadia Code';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/cascadia-code-v5-latin-700italic.woff2') format('woff2'); 
}