
.game-interface {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1280px;
    height: 720px;
}

.player-stats {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin: 5px;
}

.stats-display {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.stat-item {
    font-size: 16px;
}

.game-menu {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.game-menu-item {
    font-size: 16px;
    cursor: pointer;
}

.game-menu-link {
    color: var(--main-text-color);
    text-decoration: none;
}

.game-menu-link_ingame:visited,
.game-menu-link_ingame:active, a {
    color: var(--main-text-color);
}

.level-title__heading {
    margin: 10px;
}

.game-view {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
}

.map-display {
    width: 420px;
    height: 420px;
    overflow: hidden;
    border-radius: 5px;
}

.event-box {
    width: 680px;
    height: 420px;
    background: var(--event-box-background-color);
    border-radius: 5px;
    padding: 5px;
}

.event-portrait__image {
    width: 100px;
    height: 100px;
}

.event-description {
    font-size: 14px;
}

.hidden {
    display: none;
}

.adventure-log-container {
    width: 1120px;
    margin: 0 auto;
    border: 1px solid var(--main-text-color);
    border-radius: 5px;
    background: var(--event-box-background-color);
}

.adventure-log {
    height: 170px;
    overflow-y: scroll;
    font-size: 12px;
    padding: 5px;
}

.event-text-color {
    color: var(--event-text-color);
}

.combat-text-color {
    color: var(--combat-text-color);
}

.log-entry {
    color: var(--log-entry-text-color);
}

.rejection-text-color {
    color: var(--rejection-text-color);
}

.dialogue-text-color {
    color: var(--main-text-color);
}

.option-button {
    font-size: 14px;
    color: var(--main-text-color);
    background: var(--option-button-background);
    border: 1px solid black;
    border-radius: 3px;
    margin: 5px;
    padding: 3px;
}