
.game-name {
    margin-top: 20px;
    margin-left: 30px;
}

.game-name__title {
    font-weight: normal;
    padding-bottom: 8px;
    margin-bottom: 18px;
    font-size: 1.2em;
    color: var(--main-text-color);
}

.main-menu-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.main-menu__container {
    max-width: 350px;
    margin: 10px;
    padding: 10px 10px;
    border-radius: 6px;
}

.main-menu__heading {
    font-size: 1.2em;
    padding: 5px;
}

.main-menu__form {
    display: flex;
    flex-direction: column;
    margin-bottom: 28px;
}

.main-menu__input[type="text"],
.main-menu__input[type="password"] {
    padding: 5px;
    margin-bottom: 12px;
    border-radius: 3px;
    color: var(--main-text-color);

    font: inherit;
    font-size: 1em;
    background-color: var(--main-menu-input);
    border: none;
}

.main-menu__button {
    position: relative;
    display: block;
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 20px;

    background: none;
    color: var(--main-text-color);
    border: none;
    border-radius: 6px;

    font: inherit;
    font-size: 1em;
    text-align: center;
    cursor: pointer;

    transition: all 0.5s ease;
}

.main-menu__button:before,
.main-menu__button:after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.5s ease;
}

.main-menu__button:before {
    content: "-=";
    left: -5px;
}

.main-menu__button:after {
    content: "=-";
    right: -5px;
}

.main-menu__button:hover::before,
.main-menu__button:hover::after {
    opacity: 1;
}

.main-menu__input {
    font: inherit;
    font-size: 1em;
    background-color: var(--main-menu-input);
    border: none;
}

.main-menu__link:visited,
.main-menu__link:active, a {
    color: var(--main-text-color);
    text-decoration: none;
}