
.tile-grid {
    display: flex;
    flex-direction: column;
}

.tile-row {
    display: flex;
}

.tile {
    width: 20px;
    height: 20px;
    font-size: 16px;
    text-align: center;
    box-sizing: border-box;
    color: black;
}

.wall {
    background-color: var(--wall-tile);
}

.wooden-wall {
    background-color: var(--wooden-wall-tile);
}

.dirt {
    background-color: var(--dirt-tile);
}

.boulder {
    background-color: var(--boulder-tile);
}

.cobble {
    background-color: var(--cobble-tile);
}

.tree {
    background-color: var(--tree-tile);
    background-image: url("../tileImages/tree-tile-img.png");
}

.birch {
    background-color: var(--bush-tile);
    background-image: url("../tileImages/birch-tile-img.png");
}

.pine-tree {
    background-color: var(--tree-tile);
}

.mountain {
    background-color: var(--mountain-tile);
}

.water {
    background-color: var(--water-tile);
}

.npc {
    background-color: var(--npc-tile);
}

.enemy {
    background-color: var(--enemy-tile);
}

.item {
    background-color: var(--item-tile);
}

.door {
    background-color: var(--door-tile);
}

.altar {
    background-color: var(--alter-tile);
}

.player {
    background-color: var(--player-tile);
}