
.tile-grid {
    display: flex;
    flex-direction: column;
}

.tile-row {
    display: flex;
}

.tile {
    width: 20px;
    height: 20px;
    color: black;
    font-size: 16px;
    text-align: center;
    box-sizing: border-box;
}

.wall {
    background-color: #3A3D35;
}

.wooden-wall {
    background-color: saddlebrown;
}

.floor {
    background-color: #D9E6DA;
}

.boulder {
    background-color: grey;
}

.cobble {
    background-color: sandybrown;
}

.tree {
    background-color: #5B8C5A;
}

.short-tree {
    background-color: #5B754A;
}

.pine-tree {
    background-color: darkolivegreen;
}

.mountain {
    background-color: slategrey;
}

.water {
    background-color: cadetblue;
}

.npc {
    background-color: #7BB0A2;
}

.enemy {
    background-color: #A94E4E;
}

.item {
    background-color: #D6B75D;
}

.door {
    background-color: #A3B186;
}

.altar {
    background-color: white;
}

.player {
    background-color: #4E9B31;
}